.container {
  padding-bottom: 1rem;

  &:not(:last-child) {
    border-bottom: 1px solid lightgray;
  }

  display: flex;
  flex-direction: column;
  gap: 4px;

  &:hover {
    & .delete {
      visibility: visible;
    }
  }
}

.author {
  font-weight: bold;
  display: flex;
  gap: 0.5rem;
}

.date {
  font-size: small;
  color: gray;
}

.delete {
  color: red;
  cursor: pointer;
  visibility: hidden;
  &:hover {
    opacity: 0.5;
  }
}
