.container {
  border-bottom: 1px solid lightgray;
  padding: 8px 0;
  display: flex;
}

.user {
  flex: 1 1;
  display: flex;
  gap: 8px;
}

.rank {
  font-weight: bold;
  color: gray;
  min-width: 1rem;
  text-align: center;
}

.score {
  flex: 0 0 auto;
  min-width: 3rem;
  text-align: center;
}
